/*
Theme Name: Desenvolvimentos
Theme URI: http://www.desenvolvimentos.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: desenvolvimentos
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Wendy One', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Permanent Marker', cursive;

*/
*{
  margin: 0;
  padding: 0;
}


/* BODY */
  body{
    background-color: #3c3c3c;
    font-family: 'Open sans', sans-serif;
    position: relative;
    min-height: 100vh;
    padding: 100px 0 0;
  }
  body::before{
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    display: inline-block;
    background-color: #848484;
    width: 171px;
    height: 100%;
    transform: translateX(-50%) skewX(-24deg);
    -webkit-transform: translateX(-50%) skewX(-24deg);
    -moz-transform: translateX(-50%) skewX(-24deg);
    -ms-transform: translateX(-50%) skewX(-24deg);
    -o-transform: translateX(-50%) skewX(-24deg);
    transform: translateX(-50%) skewX(-24deg);
    
    z-index: -5;
  }
  body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 66%;
    display: inline-block;
    background-color: #000;
    width: 171px;
    height: 100%;
    transform: translateX(-50%) skewX(24deg);
    -webkit-transform: translateX(-50%) skewX(24deg);
    -moz-transform: translateX(-50%) skewX(24deg);
    -ms-transform: translateX(-50%) skewX(24deg);
    -o-transform: translateX(-50%) skewX(24deg);
    transform: translateX(-50%) skewX(24deg);
    
    z-index: -6;
  }
    body main{

    }
      body main figure{

      }
        body main figure img{
          width: 100%;
          max-width: 270px;
          margin: 0 auto 10px;
          display: block;
        }
      body main h2{
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 54px;
        color: #fff;
        margin: 0px auto 5px;
        letter-spacing: 0px;
      }
      body main h3{
        text-align: center;
        font-size: 36px;
        color: #fff;
        margin: 0 auto;
        text-transform: uppercase;
        font-weight: 800;
        font-style: italic;
      }
      body main section{
        border-top: 3px double #fff;
        padding: 30px 0;
        width: 100%;
        max-width: 51%;
        margin: 60px auto 0;
      }
        body main section h4{
          text-align: center;
          margin: 0px auto 0;
          font-size: 27px;
          color: #fff;
          font-weight: 200;
        }
        body main section ul{
          margin: 0 auto;
          width: 100%;
          max-width: 65%;
        }
          body main section ul li{
            display: inline-block;
            max-width: 49%;
            width: 100%;
            text-align: center;
            margin: 15px auto;
            padding: 23px 0;
            -webkit-transition: ease-in-out .2s;
            -moz-transition: ease-in-out .2s;
            -ms-transition: ease-in-out .2s;
            -o-transition: ease-in-out .2s;
            transition: ease-in-out .2s;
            
          }
          body main section ul li:hover{
            box-shadow: 0 0 11px -4px #fff;
            border-radius: 5px;
          }
            body main section ul li a{
              text-decoration: none !important;
              display: block;
            }
              body main section ul li a img{
                max-width: 45px;
              }
              body main section ul li a p{
                color: #fff;
                margin: 5px 0 0;
                font-size: 17px;
                font-weight: 100;
              }
      body main .coming-soon{
        position: absolute;
        right: 38px;
        bottom: 42px;
        display: inline-block;
        transform: rotate(12deg);
      }
        body main .coming-soon p{
          color: #fff;
          font-size: 45px;
          text-align: center;
          font-family: 'Righteous', cursive;
          border: 7px double #FFF;
          border-radius: 10px;
          padding: 0 10px;
        }
  
@media(max-width: 768px){
  
}